extends ./record.jade

block append links
    link(rel="stylesheet", href="/statics/styles/admin-announcement.min.css")

block append scripts
    script(src="/statics/scripts/admin-announcement.js")

