doctype html
html(lang="zh-cmn-Hans")
    head
        block title
            title= document

        block metas
            meta(http-equiv="X-UA-Compatible" content="IE=edge")

        block commonLinks
            link(rel = 'stylesheet', href = '/statics/normalize.css/normalize.css')
            link(rel = 'stylesheet', href = '/statics/bootstrap/dist/css/bootstrap.css')
        block links
            
        block styles


        block headScripts


    body
        block content
        block scripts

