extends ./base.jade

block title
    title ueditor


block styles
    style.
        html, body{
            width: 100%;
        }
        #ueditor-container {
            width: 60%;
            overflow: hidden;
            padding: 0 12px;
        }
        .flex-row {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
        .flex-1 {
            flex: 1;
        }

        #content-getter {
            margin-bottom: 20px;
        }
        #content-wrapper {
            width: 38%;
            min-height: 500px;
            border: 1px dashed #ccc;
        }


block content
    h1= name

    button#content-getter.btn.btn-primary.center-block get content


block scripts
    <!-- 加载编辑器的容器 -->
    div.flex-row
        div#ueditor-container
            script#container(name="content", type="text/plain")
        div#content-wrapper


    <!-- 配置文件 -->
    script(src="/statics/libs/ueditor/ueditor.config.js")
    <!-- 编辑器源码文件 -->
    script(src="/statics/libs/ueditor/ueditor.all.js")
    <!-- 实例化编辑器 -->
    script.
        var ue = UE.getEditor('container');
        var contentGetter = document.querySelector('#content-getter');
        var contentWrapper = document.querySelector('#content-wrapper');

        contentGetter.addEventListener('click', function (event) {
            console.log(ue);
            var content = ue.getContent();
            console.log(content);
            contentWrapper.innerHTML = content;
        });
