.records-category {
    @extend .inline-block;
    @extend .column--full;
    width: $admin-news-list-width;
    border-right: 1px solid #ddd;
}
#record-title-input {
    display: block;
    outline: none;
    @extend .ptb;
    @extend .plr;
}
body {
    @extend .box--clip;
}

