/**
 * site carousel
 */

 .carousel {
    @extend .box--clip;
    border-radius: 6px;
    &__slides-wrapper {
        @extend .column--full;
        @extend .w-9;
        @extend .box--clip;
        height: 600px;
        @extend .rel;
        display: inline-block;
    }
    &__slide {
        @extend .abs;
        @extend .abs--left;
        @extend .abs--top;
        @extend .box--clip;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        min-height: 400px;
        height: 400px;
        opacity: 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        
        &__sublayer {

        }
        &__indicator {
            opacity: 0.6;
            &--active {
               opacity: 1; 
               border: 1px solid white;
            }
        }
    }
    &__indicators-wrapper {
        @extend .w-1;
        display: inline-block;
        vertical-align: top;
    }
 }