.site-header {
    color: white;
    background-color: $public-header_bgc;
    &__logo {
        width: $public-logo_width;
        margin-top: 16px;
    }
    &__row {
    }
    &__nav {

    }
    &--blue {
        background-color: $public-header_bgc;
    }
    &__main-nav {
        height: $public-header__main-nav_height;
    }
    &__sub-nav {
        //height: $public-header__sub-nav_height;
        line-height: $public-header__sub-nav_height;
        background-color: $public-header__sub-nav_bgc; 
    }
    &__link-group {
    }
    &__link {
        @extend .inline-block;
        @extend .link;
        @extend .plr--extra;
        color: $public-header__link_c;
        @include link-hover(null, $public-header__link--hover_bgc);
        &--flat {
            @include link-hover(null, transparent);
        }
    }
}